*{
    margin: 20px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

form{

    width: 400px;
    height: 400px;
    background-color:rgb(248, 224, 227);
    padding-top: 30px;
    margin: 50px auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 20px 15px 10px rgb(242, 231, 245);

}

h1{
    color:black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

input{

    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
}

